<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.js}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.golang}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.python}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.csharp}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.c}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.cpp}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.groovy}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.ruby}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.kotlin}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.java}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.typeScript}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.spring}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.springBoot}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.unity}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.unreal}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.vue}}"/></svg>
<svg width="50" height="50" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="{{.vue}}"/></svg>
</body>
</html>